input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
    font-family: 'Lato', sans-serif
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}
.btn-margin{
margin-right:40px;
padding: 8px 20px;
}
span{
    color: red;
}
input.ng-invalid{
    border-left: 5px solid red;

}
input.ng-valid:required{
    border-left: 5px solid green;

}